apiVersion: v1
kind: Pod
spec:
  securityContext:
    runAsUser: 1000 # default UID of jenkins user in agent image
  containers:
  - name: ubuntu
    image: ubuntu:20.04
    command:
    - sleep
    args:
    - infinity
  - name: golang
    image: golang:1.17.6
    command:
    - sleep
    args:
    - infinity
  - name: dind
    image: docker:dind-rootless
    securityContext:
      privileged: true
    env:
      - name: DOCKER_TLS_CERTDIR
        value: /certs
    volumeMounts:
      - name: dind-storage
        mountPath: /var/lib/docker
      - name: dind-certs
        mountPath: /certs
  volumes:
    - name: dind-storage
      emptyDir: {}
    - name: dind-certs
      emptyDir: {}
