apiVersion: v1
kind: Pod
spec:
  securityContext:
    runAsUser: 1000 # default UID of jenkins user in agent image
  containers:
  - name: ubuntu
    image: ubuntu:20.04
    command:
    - sleep
    args:
    - infinity
  - name: golang
    image: golang:1.17.6
    command:
    - sleep
    args:
    - infinity
  - name: docker
    image: docker:20.10.12-dind
    securityContext:
      privileged: true
    env:
      - name: DOCKER_TLS_CERTDIR
        value: ""
